<div id="dialog-holder">
  <form [formGroup]="companyInfoForm">
    Company information
    <div id="company-form-holder" class="form-holder">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Representative company email</mat-label>
        <input matInput type="text" name="companyEmail" formControlName="companyEmail" spellcheck="false" />
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Common name (Full name)</mat-label>
        <input matInput type="text" name="commonName" formControlName="commonName" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Organisational unit</mat-label>
        <input matInput type="text" name="organisationalUnit" formControlName="organisationalUnit" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Organisation</mat-label>
        <input matInput type="text" name="organisation" formControlName="organisation" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Location</mat-label>
        <input matInput type="text" name="location" formControlName="location" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>State</mat-label>
        <input matInput type="text" name="state" formControlName="state" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Country</mat-label>
        <input matInput type="text" name="country" formControlName="country" spellcheck="false">
        <mat-error>{{getRequiredErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div id="button-holder">
    <button mat-raised-button color="warn" [disabled]="!companyInfoForm.valid" (click)="createCompanyCertificate()">
      Create company certificate
    </button>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>

<app-snack-bar />
