.flex-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
}

#certificate-data-wrapper {
  flex-grow: 1;
  gap: 10px
}

#certificate-data {
  flex-grow: 1;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}

.shown-arrow:hover {
  background-color: lightgray;
  border-radius: 20%;
  cursor: pointer;
}

#hidden_arrow {
  color: transparent;
}

#certificate-details {
  font-weight: bold;
  line-height: 1.4;
}

#certificate-details div {
  padding-left: 2em;
}

#validate_button {
  color: #7DDF64;
}

#children {
  margin-left: 40px;
}
