<div id="form">
<form [formGroup]="accommodationForm" id="left-form" >
    <div id="name-location">
      <mat-form-field id="name">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <mat-form-field id="location">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea id="desc" matInput type="text" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field id="chip-list">
      <mat-label>Amenities</mat-label>
      <mat-chip-grid #chipGrid aria-label="Amenity selection">
        <mat-chip-row *ngFor="let selectedAmenity of selectedAmenities" (removed)="remove(selectedAmenity)">
          {{ selectedAmenity.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + selectedAmenity.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="New Amenity..."
        #amenityInput
        [formControl]="selectorFormControl"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let amenity of amenitiesObservable | async" [value]="amenity.name">
          {{ amenity.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div id="guests">
      <mat-form-field>
        <mat-label>
          Minimal Guest Number
        </mat-label>
        <input matInput type="number" formControlName="minGuests">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Maximum Guest Number
        </mat-label>
        <input matInput type="number" formControlName="maxGuests">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Property type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of accommodationTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div id="images">
      <img class="preview-image" *ngFor="let url of urls" [src]="url">
    </div>

    <input type="file" (change)="onselect($event)">

</form>
<form id="right-form" [formGroup]="periodForm">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>
            Add available period
          </mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input formControlName="startDate" matStartDate placeholder="Start date" readonly>
            <input formControlName="endDate" matEndDate placeholder="End date" readonly>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Price per night" formControlName="price">
        </mat-form-field>

        <button mat-raised-button color="primary" id="add" (click)="addAvailablePeriod()">Add</button>

      <mat-chip-grid>
        <mat-chip-row  *ngFor="let period of availablePeriods; let i = index" (removed)="removeAvailablePeriod(i)">
          {{ period.timeslot?.startDate | date }} - {{ period.timeslot?.endDate | date }} | Price: {{ period.pricePerNight | currency :'EUR'}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
    <mat-slide-toggle color="primary">Price per person</mat-slide-toggle>
  <button type="submit" (click)="createAccommodation()"></button>
</form>
</div>
