<div class="overlay">
  <form class="accommodation-search-form" (submit)="onSubmitClick()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>
        <mat-icon>location_on</mat-icon> Location
      </mat-label>
      <input [(ngModel)]="cityInput" name="city" matInput type="search" placeholder="Ex. Belgrade">
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>
        Enter a date range
      </mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input [(ngModel)]="startDateInput" name="checkin" matStartDate placeholder="Start date" readonly>
        <input [(ngModel)]="endDateInput" name="checkout" matEndDate placeholder="End date" readonly>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>
        <mat-icon>person</mat-icon> Number of guests
      </mat-label>
      <input [(ngModel)]="guestNumInput" name="guestNum" matInput type="number">
    </mat-form-field>


    <button mat-raised-button type="submit" color="warn">Search</button>
  </form>

  <div id="filter-button" matBadge="1" matBadgeColor="primary" (click)="onFilterButtonClick()">
    <mat-icon  >tune</mat-icon>
    <span>Filters</span>
  </div>

  <app-accommodation-filter *ngIf="isFilterShowing"></app-accommodation-filter>
</div>
