<!DOCTYPE html>
<div class="background-img">
  <div class="wrapper">
    <app-navbar> </app-navbar>
  </div>
  <div class="content">
    <div class="white-box">
      <!-- Add content inside the white box as needed -->
      <div class="profile">
        <div class="center-title">
          <h2>Profile</h2>
        </div>
        <hr>
        <div class="profile-content">
          <div class="element">
            <span class="data-label">Email:</span>
            <div class="container-no-space">
              <input [readonly]="isReadOnly('email')"
                     [style.background]="isReadOnly('email') ? 'rgba(217, 217, 217, 0.5)' : 'rgba(254,163,26, 0.5)'"
                     class="data" type="email" [value]="user?.email">
              <button [class.edit-button]="true" [class.edit-mode]="!isReadOnly('email')"
                      (click)="toggleEditMode('email')"><mat-icon fontIcon="edit"></mat-icon></button>
            </div>
          </div>

          <div class="element">
            <span class="data-label">First name:</span>
            <div class="container-no-space">
              <input [readonly]="isReadOnly('firstName')"
                     [style.background]="isReadOnly('firstName') ? 'rgba(217, 217, 217, 0.5)' : 'rgba(254,163,26, 0.5)'"
                     class="data" type="text" [value]="user?.firstName">
              <button [class.edit-button]="true" [class.edit-mode]="!isReadOnly('firstName')"
                      (click)="toggleEditMode('firstName')"><mat-icon fontIcon="edit"></mat-icon></button>
            </div>
          </div>

          <div class="element">
            <span class="data-label">Last name:</span>
            <div class="container-no-space">
              <input [readonly]="isReadOnly('lastName')" class="data"
                     [style.background]="isReadOnly('lastName') ? 'rgba(217, 217, 217, 0.5)' : 'rgba(254,163,26, 0.5)'"
                     type="text" [value]="user?.lastName">
              <button [class.edit-button]="true" [class.edit-mode]="!isReadOnly('lastName')"
                      (click)="toggleEditMode('lastName')"><mat-icon fontIcon="edit"></mat-icon></button>
            </div>
          </div>

          <div class="element">
            <span class="data-label">Phone:</span>
            <div class="container-no-space">
              <input [readonly]="isReadOnly('phone')" class="data"
                     [style.background]="isReadOnly('phone') ? 'rgba(217, 217, 217, 0.5)' : 'rgba(254,163,26, 0.5)'"
                     type="text" [value]="user?.phoneNumber">
              <button [class.edit-button]="true" [class.edit-mode]="!isReadOnly('phone')"
                      (click)="toggleEditMode('phone')"><mat-icon fontIcon="edit"></mat-icon></button>
            </div>
          </div>

          <div class="element">
            <span class="data-label">Address:</span>
            <div class="container-no-space">
              <input [readonly]="isReadOnly('address')"
                     [style.background]="isReadOnly('address') ? 'rgba(217, 217, 217, 0.5)' : 'rgba(254,163,26, 0.5)'"
                     type="text" class="data" [value]="user?.address">
              <button [class.edit-button]="true" [class.edit-mode]="!isReadOnly('address')"
                      (click)="toggleEditMode('address')"><mat-icon fontIcon="edit"></mat-icon></button>
            </div>
          </div>
        </div>

      </div>
      <div class="password">
        <div class="center-title">
          <h2>Password</h2>
        </div>
        <hr>
        <div class="element">
          <span class="data-label">Current password:</span>
          <div class="container-no-space">
            <input type="password" class="data">
            <mat-icon fontIcon="edit"></mat-icon>
          </div>
        </div>

        <div class="element">
          <span class="data-label">New password:</span>
          <div class="container-no-space">
            <input type="password" class="data">
            <mat-icon fontIcon="edit"></mat-icon>
          </div>
        </div>

        <div class="element">
          <span class="data-label">Confirm password:</span>
          <div class="container-no-space">
            <input type="password" class="data">
            <mat-icon fontIcon="edit"></mat-icon>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button id="saveChanges" mat-raised-button color="primary">Save changes</button>
        <button mat-raised-button color="warn">Delete profile</button>
      </div>
    </div>
  </div>
</div>



